.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .center-text {
    text-align: center;
  }



  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .left-align-content {
    text-align: left;
    margin-left: 20px; /* Add margin if needed */
  }