.test__info {
    padding: 200px 0 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.test__info_wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test__info__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    color: #17242A;
    line-height: 64px;
    margin-bottom: 75px;
}

.test__info__content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.test__info-block {
    width: 1000px;
}

.test__info-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    color: #17242A;
}

.test__info-desc {
    font-size: 16px;
    line-height: 24px;
    color: #17242A;
    margin-bottom: 45px;
}

.test__info-btn {
    width: 230px;
    border-radius: 50px;
    padding: 13px 0;
    color: #008CD4;
    border: 2px solid #008CD4;
    background: transparent;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.test__info-btn:hover {
    background: #008CD4;
    color: #fff;
}

