.test__info {
    padding: 200px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test__info_wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test__info__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    color: #17242A;
    line-height: 64px;
    margin-bottom: 75px;
}

.test__info__content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about__img {
    width: 490px;
}

.test__info-block {
    width: 680px;
}

.test__info-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    color: #17242A;
}

.test__info-desc {
    font-size: 16px;
    line-height: 24px;
    color: #17242A;
}

