@font-face {
  font-family: 'Helvetica';
  font-weight: 300;
  font-style: normal;
  src: url('/src/components/fonts/helvetica_light.otf');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  src: url('/src/components/fonts/helvetica_regular.otf');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  font-style: normal;
  src: url('/src/components/fonts/helvetica_bold.otf');
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}