@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Helvetica';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/helvetica_light.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/helvetica_regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/helvetica_bold.otf') format('opentype');
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

/* Для прижатия footer к низу */

.App {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}